<div class="col-12 col-lg-6 cateco-pdp-left d-flex flex-column order-first" style="position: relative; margin-bottom: 2rem;">
    {# This will render the images hook (and we override its child accordion to be empty so it doesn't show here) #}
    {% hook 'overview' %}
</div>
