{% import '@SyliusShop/shared/buttons.html.twig' as buttons %}

<div class="mt-4 mb-5 text-end">
    {{ buttons.submit('sylius.ui.place_order'|trans, 'confirmation-button', null, 'btn-primary px-4 py-2 shadow-sm') }}
</div>
