{# This overrides the default Sylius different_shipping_address checkbox to hide it completely #}
<div class="d-none">
    {{ form_row(form.differentShippingAddress, {'attr': {'class': 'd-none'}}) }}
</div>
